version: '3'

services:
  dsmrdb:
    # When using Postgres, release 14.x, 15.x, 16.x and 17.x are supported only
    # due to the limited availability of client packages, especially for arm32v7
    image: postgres:17-alpine
    container_name: dsmrdb
    restart: always
    volumes:
      # Future heads up: PostgreSQL version 18 requires a different volume mapping: /var/lib/postgresql/18/docker
      - ./dsmrdb:/var/lib/postgresql/data
    environment:
      - TZ=Europe/Amsterdam
      - PG_TZ=Europe/Amsterdam
      - POSTGRES_USER=dsmrreader
      - POSTGRES_PASSWORD=dsmrreader
      - POSTGRES_DB=dsmrreader
    healthcheck:
      # Must match below with POSTGRES_USER (-U) and POSTGRES_DB (-d) above
      test: [ "CMD-SHELL", "pg_isready -U dsmrreader -d dsmrreader" ]
      interval: 10s
      timeout: 5s
      retries: 10

  dsmr:
    # This will always use the latest minor release within the major DSMR-reader
    # version specified below (e.g. "dsmr-reader-docker:6" for DSMR-reader v6.x).
    image: ghcr.io/xirixiz/dsmr-reader-docker:6
    depends_on:
      dsmrdb:
        condition: service_healthy
    container_name: dsmr
    links:
      - dsmrdb
    cap_add:
      - NET_ADMIN
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./dsmr_backups:/app/backups
    environment:
      - TZ=Europe/Amsterdam
      - DJANGO_TIME_ZONE=Europe/Amsterdam
      - VIRTUAL_HOST=localhost
      - FILE__SECRET=/run/secrets/a_secret_file
      # Change DJANGO_SECRET_KEY below to a truly random value if you host DSMR-reader publicly facing the Internet
      # E.g. by using https://www.lastpass.com/features/password-generator - 50 characters and NO symbols
      - DJANGO_SECRET_KEY=change_me_if_you_host_dsmr_reader_on_the_internet
      # Set an admin interface password to your liking - make it a strong one if you host DSMR-reader publicly facing the Internet
      - DSMRREADER_ADMIN_PASSWORD=
    secrets:
      - a_secret_file
    ports:
      - 7777:80
      - 7779:443
    devices:
      - "/dev/ttyUSB1:/dev/ttyUSB0"
    # healthcheck:
    #   disable: true
    healthcheck:
      test: ["CMD", "curl", "-Lsf", "http://127.0.0.1/healthcheck", "-o", "/dev/null", "-w", "HTTP_%{http_code}"]
      interval: 10s
      timeout: 5s
      retries: 10

secrets:
    a_secret_file:
        file : somedir/my_secret.txt

volumes:
  dsmrdb: null
  dsmrdb_backups: null
